<div class="password-container" [formGroup]="passwordForm">
    <label for="password" class="password-label">Check yours password strength</label>
    <input id="password" formControlName="password" type="password" class="password-input" placeholder="Enter your password">
  </div>
  
  <div class="strength-indicators">
    <div class="indicator" [ngClass]="getIndicatorClass(1)"></div>
    <div class="indicator" [ngClass]="getIndicatorClass(2)"></div>
    <div class="indicator" [ngClass]="getIndicatorClass(3)"></div>
  </div>
  