@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.password-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
}

.password-label {
  margin-bottom: 10px; /* Увеличен отступ */
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.password-input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
  font-family: 'Roboto', sans-serif;
}

.password-input:focus {
  border-color: #66afe9;
  outline: none;
}

.strength-indicators {
  display: flex;
  gap: 5px;
  margin-top: 15px; 
}

.indicator {
  flex: 1;
  height: 10px;
  background-color: gray;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.indicator.red {
  background-color: red;
}

.indicator.yellow {
  background-color: yellow;
}

.indicator.green {
  background-color: green;
}
