.strength-indicators {
    display: flex;
    gap: 5px;
    margin-top: 15px;
  }
  
  .strength-indicators.short-password .indicator {
    background-color: red !important;
  }
  
  .indicator {
    flex: 1;
    height: 10px;
    background-color: gray;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .indicator.red {
    background-color: red;
  }
  
  .indicator.yellow {
    background-color: yellow;
  }
  
  .indicator.green {
    background-color: green;
  }
  